@media screen and (max-width: 600px) {
  .sub-menu {
    width: 70%;
  }
}

@keyframes ldio-alv5yk86oop {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.ldio-alv5yk86oop div {
  left: 101.85000000000001px;
  top: 74.55px;
  position: absolute;
  animation: ldio-alv5yk86oop linear 0.5847953216374269s infinite;
  background: #000000;
  width: 6.300000000000001px;
  height: 6.300000000000001px;
  border-radius: 3.1500000000000004px / 3.1500000000000004px;
  transform-origin: 3.1500000000000004px 30.450000000000003px;
}
.ldio-alv5yk86oop div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -0.5482456140350878s;
  background: #000000;
}
.ldio-alv5yk86oop div:nth-child(2) {
  transform: rotate(22.5deg);
  animation-delay: -0.5116959064327485s;
  background: #000000;
}
.ldio-alv5yk86oop div:nth-child(3) {
  transform: rotate(45deg);
  animation-delay: -0.47514619883040937s;
  background: #000000;
}
.ldio-alv5yk86oop div:nth-child(4) {
  transform: rotate(67.5deg);
  animation-delay: -0.4385964912280702s;
  background: #000000;
}
.ldio-alv5yk86oop div:nth-child(5) {
  transform: rotate(90deg);
  animation-delay: -0.402046783625731s;
  background: #000000;
}
.ldio-alv5yk86oop div:nth-child(6) {
  transform: rotate(112.5deg);
  animation-delay: -0.3654970760233918s;
  background: #000000;
}
.ldio-alv5yk86oop div:nth-child(7) {
  transform: rotate(135deg);
  animation-delay: -0.32894736842105265s;
  background: #000000;
}
.ldio-alv5yk86oop div:nth-child(8) {
  transform: rotate(157.5deg);
  animation-delay: -0.29239766081871343s;
  background: #000000;
}
.ldio-alv5yk86oop div:nth-child(9) {
  transform: rotate(180deg);
  animation-delay: -0.25584795321637427s;
  background: #000000;
}
.ldio-alv5yk86oop div:nth-child(10) {
  transform: rotate(202.5deg);
  animation-delay: -0.2192982456140351s;
  background: #000000;
}
.ldio-alv5yk86oop div:nth-child(11) {
  transform: rotate(225deg);
  animation-delay: -0.1827485380116959s;
  background: #000000;
}
.ldio-alv5yk86oop div:nth-child(12) {
  transform: rotate(247.5deg);
  animation-delay: -0.14619883040935672s;
  background: #000000;
}
.ldio-alv5yk86oop div:nth-child(13) {
  transform: rotate(270deg);
  animation-delay: -0.10964912280701755s;
  background: #000000;
}
.ldio-alv5yk86oop div:nth-child(14) {
  transform: rotate(292.5deg);
  animation-delay: -0.07309941520467836s;
  background: #000000;
}
.ldio-alv5yk86oop div:nth-child(15) {
  transform: rotate(315deg);
  animation-delay: -0.03654970760233918s;
  background: #000000;
}
.ldio-alv5yk86oop div:nth-child(16) {
  transform: rotate(337.5deg);
  animation-delay: 0s;
  background: #000000;
}
.loadingio-spinner-spinner-eecni6hc2yh {
  width: 210px;
  height: 210px;
  display: inline-block;
  overflow: hidden;
  background: none;
}
.ldio-alv5yk86oop {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-alv5yk86oop div {
  box-sizing: content-box;
}
/* generated by https://loading.io/ */
